@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&family=Oswald:wght@700&display=swap");

// Reset basic styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fs-600: 0.75rem;
    --fs-8: 5rem;
    --fs-2: 1.5rem;
}

@media (min-width: 768px) {
    :root {
        --fs-600: 1rem;
        --fs-8: 8.4375rem;
        --fs-2: 2rem;
    }
}

@media (min-width: 992px) {
    :root {
        --fs-600: 1.2rem;
        --fs-8: 10.4375rem;
        --fs-2: 3rem;
    }
}

@media (min-width: 1024px) {}

body {
    // font-family: 'Lato', sans-serif;
    font-family: "Oswald", sans-serif;
}

main {
    width: 100%;
    margin: 0 auto;

    nav {
        @media (min-width: 992px) {
            height: 80px;
        }

        .navbar-toggler {
            color: #414f6b;

            &:active,
            &:focus,
            &:hover {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }

        #navbarToggler {
            justify-content: end;

            position: fixed;
            z-index: -1;
            background-color: #fff;
            width: 100%;
            top: 0;
            left: 0;
            padding-top: 5rem;
            padding-bottom: 2rem;

            @media (min-width: 992px) {
                position: initial;
                background-color: initial;
                padding-top: initial;
                padding-bottom: initial;
                align-items: center;
                z-index: initial;
            }

            &.show {
                ul {
                    list-style-type: none;
                    text-align: center;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    display: block;

                    li {
                        a {
                            color: #414f6b !important;
                            text-decoration: none;
                            display: block;
                            padding: 0.5rem 0;
                            padding-right: 2rem;
                        }
                    }
                }
            }

            ul {
                list-style-type: none;
                font-family: "Lato", sans-serif;
                font-style: italic;
                text-transform: uppercase;
                display: flex;
                margin: 0;

                li {
                    padding-left: 3rem;

                    a {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    #hero {
        background-color: #414f6be0;
        background-image: url(../images/hero-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
        width: 100%;
        height: 100dvh;

        @media (min-width: 768px) {
            background-size: cover;
            background-position: top center;
            background-attachment: fixed;
            height: 70dvh;
        }

        @media (min-width: 1024px) {
            height: 80dvh;
        }

        @media (min-width: 1200px) {
            background-image: url(../images/Hero.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 95dvh;
        }

        .herotitle {
            img {
                width: 100%;
            }
        }
    }

    #history {
        background-image: url(../images/Bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        position: relative;
        padding-bottom: 42dvh;

        @media (min-width: 992px) {
            height: 100dvh;
        }

        .carousel-wrap {
            background-color: #414f6be0;

            width: 100%;
            position: absolute;
            z-index: 1;
            bottom: 0;
            padding: 2rem 0;
        }
    }

    #team {
        width: 100%;

        .tabs-wrap {
            background-color: #414f6b;

            .nav-link {
                border: none;
                border-radius: 0;
                text-transform: uppercase;
                color: #b0b4be;
            }

            .nav-link.active {
                background-color: #b0b4be;
                color: #414f6b;
                font-weight: bold;
            }
        }

        .tab-pane {
            background-repeat: no-repeat;
            background-size: cover;
            padding: 6dvh 3dvh 20dvh;

            @media (min-width: 768px) {
                padding: 11dvh 11dvh 27dvh;
            }

            &#tab1 {
                background-image: url(../images/photo-1417021423914-070979c8eb34.png);
            }

            &#tab2 {
                background-image: url(../images/photo-1414449381078-c7768b8f19b8.png);
            }

            position: relative;
        }

        #accordionMobile {
            .accordion-header {
                button {
                    color: #414f6b;
                    text-transform: uppercase;
                    background-color: #414f6b;
                    color: #b0b4be;

                    &:focus {
                        box-shadow: none;
                    }

                    &:not(.collapsed) {
                        background-color: #b0b4be;
                        box-shadow: none;
                        color: #414f6b;
                    }
                }
            }
        }
    }

    footer {
        background-color: #414f6b;

        @media (min-width: 768px) {
            height: 74px;
        }

        .copyright {
            color: #63769d;
            font-family: "Lato", sans-serif;
            font-style: italic;
            font-size: var(--fs-600);
        }
    }
}

// ########################################
.suphistory {
    span {
        &:first-child {
            font-size: var(--fs-8);
            color: #414f6b93;
        }

        &:nth-child(2) {
            font-size: var(--fs-2);
            color: #414f6b;
            text-transform: uppercase;
            position: relative;
            left: -17px;
            top: -18px;

            @media (min-width: 768px) {
                left: -28px;
                top: -30px;
            }

            @media (min-width: 992px) {
                left: -37px;
                top: -39px;
            }
        }
    }

    p {
        font-size: var(--fs-600);
        color: #000;
        font-family: "Lato", sans-serif;
        line-height: 1rem;
        position: relative;
        top: -20px;

        @media (min-width: 768px) {
            line-height: initial;
            padding: 0 80px;
        }
    }
}

.supteam {
    @extend .suphistory;

    p {
        @media (min-width: 768px) {
            top: initial;
        }
    }
}

.navbar-scrolled {
    background-color: #fff;
    transition: background-color 0.5s;
}

#navbar-logo {
    width: 75%;

    @media (min-width: 768px) {
        width: 100%;
    }
}

.schedule {
    background-color: #ffffffa6;
    // position: absolute;
    // top: 0;
    padding: 1rem;

    @media (min-width: 768px) {
        width: 352px;
        min-height: 229px;
    }

    @media (min-width: 992px) {
        width: 400px;
        min-height: 250px;
    }

    h2 {
        color: #414f6b;
        text-transform: uppercase;
    }

    table {
        font-size: var(--fs-600);
        color: #000;
        font-family: "Lato", sans-serif;

        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 3px 15px;
        text-align: left;
    }
}