@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,900&family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-600: 0.75rem;
  --fs-8: 5rem;
  --fs-2: 1.5rem;
}

@media (min-width: 768px) {
  :root {
    --fs-600: 1rem;
    --fs-8: 8.4375rem;
    --fs-2: 2rem;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-600: 1.2rem;
    --fs-8: 10.4375rem;
    --fs-2: 3rem;
  }
}
body {
  font-family: "Oswald", sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  main nav {
    height: 80px;
  }
}
main nav .navbar-toggler {
  color: #414f6b;
}
main nav .navbar-toggler:active, main nav .navbar-toggler:focus, main nav .navbar-toggler:hover {
  border: none;
  box-shadow: none;
  outline: none;
}
main nav #navbarToggler {
  justify-content: end;
  position: fixed;
  z-index: -1;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
@media (min-width: 992px) {
  main nav #navbarToggler {
    position: initial;
    background-color: initial;
    padding-top: initial;
    padding-bottom: initial;
    align-items: center;
    z-index: initial;
  }
}
main nav #navbarToggler.show ul {
  list-style-type: none;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
main nav #navbarToggler.show ul li a {
  color: #414f6b !important;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
  padding-right: 2rem;
}
main nav #navbarToggler ul {
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  margin: 0;
}
main nav #navbarToggler ul li {
  padding-left: 3rem;
}
main nav #navbarToggler ul li a {
  color: #fff;
  text-decoration: underline;
}
main #hero {
  background-color: rgba(65, 79, 107, 0.8784313725);
  background-image: url(../images/hero-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: 100dvh;
}
@media (min-width: 768px) {
  main #hero {
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 70dvh;
  }
}
@media (min-width: 1024px) {
  main #hero {
    height: 80dvh;
  }
}
@media (min-width: 1200px) {
  main #hero {
    background-image: url(../images/Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 95dvh;
  }
}
main #hero .herotitle img {
  width: 100%;
}
main #history {
  background-image: url(../images/Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  padding-bottom: 42dvh;
}
@media (min-width: 992px) {
  main #history {
    height: 100dvh;
  }
}
main #history .carousel-wrap {
  background-color: rgba(65, 79, 107, 0.8784313725);
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 2rem 0;
}
main #team {
  width: 100%;
}
main #team .tabs-wrap {
  background-color: #414f6b;
}
main #team .tabs-wrap .nav-link {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  color: #b0b4be;
}
main #team .tabs-wrap .nav-link.active {
  background-color: #b0b4be;
  color: #414f6b;
  font-weight: bold;
}
main #team .tab-pane {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6dvh 3dvh 20dvh;
  position: relative;
}
@media (min-width: 768px) {
  main #team .tab-pane {
    padding: 11dvh 11dvh 27dvh;
  }
}
main #team .tab-pane#tab1 {
  background-image: url(../images/photo-1417021423914-070979c8eb34.png);
}
main #team .tab-pane#tab2 {
  background-image: url(../images/photo-1414449381078-c7768b8f19b8.png);
}
main #team #accordionMobile .accordion-header button {
  color: #414f6b;
  text-transform: uppercase;
  background-color: #414f6b;
  color: #b0b4be;
}
main #team #accordionMobile .accordion-header button:focus {
  box-shadow: none;
}
main #team #accordionMobile .accordion-header button:not(.collapsed) {
  background-color: #b0b4be;
  box-shadow: none;
  color: #414f6b;
}
main footer {
  background-color: #414f6b;
}
@media (min-width: 768px) {
  main footer {
    height: 74px;
  }
}
main footer .copyright {
  color: #63769d;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: var(--fs-600);
}

.suphistory span:first-child, .supteam span:first-child {
  font-size: var(--fs-8);
  color: rgba(65, 79, 107, 0.5764705882);
}
.suphistory span:nth-child(2), .supteam span:nth-child(2) {
  font-size: var(--fs-2);
  color: #414f6b;
  text-transform: uppercase;
  position: relative;
  left: -17px;
  top: -18px;
}
@media (min-width: 768px) {
  .suphistory span:nth-child(2), .supteam span:nth-child(2) {
    left: -28px;
    top: -30px;
  }
}
@media (min-width: 992px) {
  .suphistory span:nth-child(2), .supteam span:nth-child(2) {
    left: -37px;
    top: -39px;
  }
}
.suphistory p, .supteam p {
  font-size: var(--fs-600);
  color: #000;
  font-family: "Lato", sans-serif;
  line-height: 1rem;
  position: relative;
  top: -20px;
}
@media (min-width: 768px) {
  .suphistory p, .supteam p {
    line-height: initial;
    padding: 0 80px;
  }
}

@media (min-width: 768px) {
  .supteam p {
    top: initial;
  }
}

.navbar-scrolled {
  background-color: #fff;
  transition: background-color 0.5s;
}

#navbar-logo {
  width: 75%;
}
@media (min-width: 768px) {
  #navbar-logo {
    width: 100%;
  }
}

.schedule {
  background-color: rgba(255, 255, 255, 0.6509803922);
  padding: 1rem;
}
@media (min-width: 768px) {
  .schedule {
    width: 352px;
    min-height: 229px;
  }
}
@media (min-width: 992px) {
  .schedule {
    width: 400px;
    min-height: 250px;
  }
}
.schedule h2 {
  color: #414f6b;
  text-transform: uppercase;
}
.schedule table {
  font-size: var(--fs-600);
  color: #000;
  font-family: "Lato", sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.schedule th,
.schedule td {
  padding: 3px 15px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */